<div class="card">
	<div class="card-header">Map</div>
	<ul class="list-group list-group-flush custom-height"
		*ngIf="truckList.length; else emptyTruckList">
		<li class="list-group-item d-flex justify-content-between align-items-center"
			*ngFor="let truck of truckList; let i = index">
			{{ truck.name }}
			<button type="button" class="ml-2 mb-1 close" aria-hidden="true"
				(click)="openDeleteModal(i)">
				<span>&times;</span>
			</button>
		</li>
	</ul>
	<ng-template #emptyTruckList>
		<div class="card-body custom-height">
			<h5 class="card-title">No trucks!</h5>
		</div>
	</ng-template>
</div>
